[2016-07-17 18:56] pks opened #1 "PCIe links down on soft-reboot"
I'm trying to use a Ubiquiti mini PCIe SR71-E card with a SolidRun ClearFog-A1/PRO (Rev 2.1).
The card works fine, and is correctly recognized:`
01:00.0 Network controller: Qualcomm Atheros AR928X Wireless Network Adapter (PCI-Express) (rev 01)`.

But the card is not recognized anymore after a soft-reboot, e.g. after calling `reboot`.
The card works again if the board is first powered down and the

[2016-08-28 06:54] nitroshift opened #2 "Armada-xp-linksys-mamba"
The .dts file for the Linksys WRT1900AC v1 (Mamba) is missing. It is based on the Armada XP SoC and it has 256Mb of RAM. Building with the default profile results in an unbootable image since it selects armada-xp-db.dts which includes the armada-xp-mv78460.dtsi instead of armada-xp-mv78230.dtsi. Also, armada-xp-db.dts defines 2Gb of RAM. Please create a profile for the above-mentioned device that

[2016-09-13 05:56] nitroshift commented on #2
Nevermind, patched the tree myself.

[2016-09-13 05:56] #2 closed

[2017-02-14 09:43] wujingbang commented on #1
i am facing the same problem now with AR9462 using linux4.4 but different Soc.
It seems like a software problem or a memory mapping issue ..
Have you solved this problem??

[2017-02-14 19:04] pks commented on #1
No, couldn't get it to work -- had to get rid of the device, as the manufacturer (SolidRun) also couldn't provide a solution.

[2017-02-20 02:32] wujingbang commented on #1
i have figure it out, it's a hardware initialization problem. The connection of the "perst" of the wifi card is wrongly connected or configured

[2017-04-20 09:54] #1 closed

[2017-09-04 12:05] mmgu opened #3 "mvebu_u3d: USB3.0 device mode not working properly"
While testing linux-4.4.52-armada-17.08 on our Armada-7040 based board, we found g_mass_storage module can only work for the first time. Just run the following command after booting up:
[code]
The host side (Windows PC) recognized USB mass storage device successfully.

If we try to unload g_mass_storage module and load it for a second time, system either crashes or USB device can not be recognized

[2017-09-06 13:22] antoniosap opened #4 "kernel configuration menu: missing items."
i do on yocto: bitbake virtual/kernel -c menuconfig

my kernel configuration on WirelessLAN cut out every item for:
ralink and realtek driver support. nothing appears.
why?
i need include this drivers.

[2017-12-24 10:25] smurfix commented on #3
Any feedback on this problem – or is this issue tracker a black hole?

[2017-12-24 10:30] smurfix commented on #2
You might have attached a patch, you know …

[2018-02-08 06:18] ranshalit opened #7 "How to use dma with armada ?"
Hello,

Is there an example or wiki as to how to use DMA engine in armada ? In particular we need to use DMA with PCI express.

Regards,
Ran

[2018-02-08 09:57] ranshalit opened #8 "armada 7040"
Hello,

When using armada7040 , should we use this git, or kermel.org mainline, or other way ?
Is there any software docuemntation in extranet for this ?

Thank you.
Ran

[2018-02-22 18:43] l31g opened #9 "Error when building linux-4.4.52-armada-17.10"
Hi all,

I am building natively on the MacchiatoBin Doubleshot 1.2, and when I try to make the linux-4.4.52-armada-17.10 branch, I get the following error:
drivers/built-in.o: In function `armada_3700_add_composite_clk':
/home/luipen01/kernel/4.4.52/drivers/clk/mvebu/armada-37xx-periph.c:355: undefined reference to `____ilog2_NaN'
/home/luipen01/kernel/4.4.52/drivers/clk/mvebu/armada-37xx-periph.c

[2018-02-22 19:12] l31g commented on #9
I think this patch fixes it:
https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=474c90156c8dcc2fa815e6716cc9394d7930cb9c

Please apply patch to your kernel.

[2018-07-03 22:52] alphaonex86 opened #13 "Unable to compile linux-4.4.120-armada-18.06"
Hi,
I have to link time some error when I disable:
CONFIG_MD
CONFIG_UIO
And when I strip the kernel I need disable:
CONFIG_PCI

drivers/irqchip/irq-gic-v2m.c:84:23: error: 'pci_msi_domain_write_msg' undeclared here (not in a function)
  .irq_write_msi_msg = pci_msi_domain_write_msg,
                       ^~~~~~~~~~~~~~~~~~~~~~~~
drivers/irqchip/irq-gic-v2m.c: In function 'gicv2m_allocate_domains'

[2018-07-03 22:54] alphaonex86 commented on #13
And I have:
[    2.639540] Loading compiled-in X.509 certificates
[    2.644713] mvpp2 f2000000.ppv22: cma_area base 0x0bc000000 size 64 MB
[    2.657210] gop_mac(0), phy_mode(19)=sfi phy-speed=10000
[    2.662568] mvpp2 f2000000.ppv22: port ID: 0 cannot connect to phy
[    2.669107] mvpp2 f4000000.ppv22: cma_area base 0x0bc000000 size 64 MB
[    2.682396] gop_mac(0), phy_mode(19)=sfi phy-speed=10

[2018-07-20 23:24] hchenji opened #15 "SFP support?"
Does this kernel have SFP support for the cages on mcbin? Or is it only directattach cables?

Is there any plan for supporting SFP modules?

[2018-10-26 02:52] alphaonex86 opened #18 "18.09 issue"
/root/linux-marvell-linux-4.4.120-armada-18.09/drivers/usb/gadget/udc/udc-core.c:510: undefined reference to `udc_detect'
/root/linux-marvell-linux-4.4.120-armada-18.09/drivers/usb/gadget/udc/udc-core.c:510:(.text+0x1e5b24): relocation truncated to fit: R_AARCH64_CALL26 against undefined symbol `udc_detect'
drivers/built-in.o: In function `usb_gadget_probe_driver':
/root/linux-marvell-linux-4.4.12

[2018-10-29 13:50] alphaonex86 commented on #18
[   28.051705] NMI watchdog: BUG: soft lockup - CPU#2 stuck for 23s! [swapper/0:1]
[   28.059043] Modules linked in:
[   28.062119]
[   28.063616] CPU: 2 PID: 1 Comm: swapper/0 Not tainted 4.4.120-armada-18.09.2 #5
[   28.070953] Hardware name: Marvell 8040 MACHIATOBin SingleShot (DT)
[   28.077245] task: ffff80013b088000 ti: ffff80013b06c000 task.ti: ffff80013b06c000
[   28.084765] PC is at smp_c

[2018-11-05 10:50] wtarreau commented on #18
I got the same that I could fix by reverting this one :
32ff68e1b000 ("arm64: dts: a8k: enable cpuidle on A-8040 DB & mcbin boards")

After this the mcbin boots fine. I have no idea what the problem is though, I suspect the DTS change only enables a code path that is unreliable.

[2018-12-07 05:47] Jianlin-lv commented on #13
I using the kernel version is 4.14.22,  & double shot mcbin;  also encountered this issue ,
"[    2.631815] cacheinfo: Unable to detect cache hierarchy for CPU 0
[    2.640404] loop: module loaded
[    2.644276] phy phy-f2120000.phy.5: phy poweron failed --> -1
[    2.650099] ahci: probe of f2540000.sata failed with error -1
[    2.656155] phy phy-f4120000.phy.7: phy poweron failed --> -1
[    2.6

[2018-12-07 06:43] Jianlin-lv commented on #15
I have tried two mcbin board, but the fiber port with SFP cannot work either. The copper ports can always work.
The setup info is as below:
               MACCHIATObin Double Shot;
               linux-4.14.22-armada-18.09;
               u-boot 18.09
               INTEL E65689-001 SFP TRANSCEIVER MODULE

Are you resovel this issue ?

[2018-12-13 03:38] Jianlin-lv commented on #15
I change  E65689-001 to SFP+DAC cables  ， SFP+ ports work properly on Macchiato

[2019-01-22 21:53] hchenji commented on #15
I will double check this. Which toolchain version are you using?

Also, I need the fiber ports (not copper, not direct attach SFP+) working on the board, that's why I bought the board!

[2019-01-24 15:17] Jianlin-lv commented on #15
I rebuild kernel image based on MACCHIATObin , not cross compile ;  I think the toolchain is not a key point.   I can be sure that MACCHIATObin  SFP+ ports don’t work with  fiber cables and INTEL E65689-001 SFP transceiver modules.  I have no idea whether other transceiver modules work correctly with fiber on MACCHIATObin.

[2021-09-17 20:54] erdoukki opened #20 "cpufreq: armada-37xx: forbid cpufreq for 1.2 GHz variant"
https://github.com/openwrt/openwrt/commit/f407b2f43c27a7b35c4f96d3efcee2cc440f8efe

How can we contact Marvell to have the needed information ?

[2021-09-22 09:59] pali commented on #20
@kostapr: Hi! Could you look at this bug report?

[2021-09-22 10:40] kostapr commented on #20
I have no problem with this patch. BTW, Ken Ma, Igal Liberman and Victor Gu are not with Marvell anymore. For the future Armada-related patches, please add Stefan (stefanc@marvell.com) and Nadav (nadavh@marvell.com) to the CC list.
Reviewed-by: Konstantin Porotchkin <kostap@marvell.com>

[2021-09-22 11:14] robimarko commented on #20
@kostapr But that patch is not a solution, it's just a hotfix to get the devices booting and not constantly crashing due to voltage issues.
The solution cant be just to disable cpufreq and force the lowest frequency

[2021-09-22 12:02] kostapr commented on #20
@robimarko I cannot comment on the problem. I personally think that not all 37xx dies are capable to work stable at 1.2GHz. However, this should be confirmed by HW design or production team at Marvell. Hopefully @haklai can add more on this matter.

[2021-09-22 12:08] robimarko commented on #20
@kostapr Well that is normal, but the thing is that those marked and sold as 1.2GHz ones are having issues, personally, I have a lot of those in the field and they all crash currently if you allow them to scale.
I know that @pali has been trying to get solved for a while now.

[2021-09-22 12:09] pali commented on #20
There is part order number `88F3720-xx-–BVB2C120-P123` of A37xx SoC which is designed for 1.2 GHz. This SoC die has below its Marvell logo marking `C120` (speed code).

So @robimarko could you confirm that you have the right 37xx die which is designed for 1.2 GHz and in this case @kostapr or @haklai could you get more information about HW design / production team where is the issue?

[2021-09-22 12:23] robimarko commented on #20
@pali I opened one of the Esspresobin Ultras I have and the SoC PN is: `88F3720-A0 C120`
Even the stock ATF/WTMI and U-boot see it as a 1.2GHz model.
I am attaching the image as well.
https://imgur.com/A02jhaw

[2021-09-22 12:25] pali commented on #20
@kostapr so for sure above @robimarko's SoC is designed for 1.2 GHz.

[2021-09-22 14:43] stefanchulski commented on #20
@pali If you disable DFS feature and boot with 1.2GHz frequency only, do you see any crashes?

[2021-09-22 14:45] pali commented on #20
@stefanchulski currently I do not have 1.2GHz variant of A3720 SoC.

@robimarko and @erdoukki could you please do required tests for @stefanchulski?

[2021-09-22 14:51] erdoukki commented on #20
Sure, with pleasure, as usual...
Just give me the needed patch file or binary, please.
I will also check the CPU rerefence of my Ultra.

[2021-09-22 15:05] robimarko commented on #20
@stefanchulski If I am seeing it correctly, it's using 1200MHz by default after booting as the kernel is not scaling it anymore.

[code]

I need to really stress test it before claiming that it's stable with the WTMI set VDD.
Which in my case is:
`SVC REV: 5, CPU VDD voltage: 1.213V`

But I have seen samples that use 1.26V as well, and I don't think that the CPUFreq has a way to know this and uses

[2021-09-22 15:37] pali commented on #20
My guess is that in wtmi firmware is missing some init sequence related to CPU voltage configuration. See function `init_avs()`: https://github.com/MarvellEmbeddedProcessors/A3700-utils-marvell/blob/master/wtmi/sys_init/avs.c

There is array `otp_data[]` filled by OTP values from SoC itself, but some bits are not used. And they are non-zero, so has some value, but there is no documentation what th

[2021-09-22 15:55] pali commented on #20
CPUFreq driver armada-37xx-cpufreq.c know this, it grabs this value from OTP (but indirectly, it reads it from register which is filled by wtmi code, which fills it from OTP). Driver uses following _Marvell algorithm_:
* CPU max_freq uses vdd max(OTP, 1000mV)
* CPU max_freq/div1 uses vdd max(OTP-100mV, 1000mV)
* CPU max_freq/div2 uses vdd max(OTP-150mV, 1000mV)
* CPU max_freq/div3 uses vdd max(OTP

[2021-09-24 08:28] pali commented on #20
@stefanchulski: Do you need some more tests? Or is above crash confirmation with log from @robimarko enough?

[2021-09-25 18:18] stefanchulski commented on #20
@pali So issue related to cpufreq as described in the patch or do you have an issue with 1.2GHz?

[2021-09-25 19:07] pali commented on #20
@stefanchulski seems that both. There is issue related to cpufreq as described on mailing list. And @robimarko has problems with 1.2GHz as described in post https://github.com/MarvellEmbeddedProcessors/linux-marvell/issues/20#issuecomment-925018939

[2021-09-25 19:10] stefanchulski commented on #20
@pali All other frequencies stable? Its a specific board issue occurred on many boards?

[2021-09-25 19:14] pali commented on #20
It is on many boards. Problem occurs when either running on L0 load (ie without divisor) or when switching from L1 load (uses div1) to L0.

[2021-09-25 19:17] pali commented on #20
After lot of experiments we somehow workarounded this crash on 1GHz variant of A3720 with this commit:
https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=d118ac2062b5b8331c8768ac81e016617e0996ee

But fix/workaround does not work for 1.2GHz variant of A3720 and as @robimarko wrote it still crashes.

[2021-09-25 19:21] stefanchulski commented on #20
I not familiar with all these AVS configurations on A37XX. But hardcoded values look strange, should you take into account chip skew and calculate AVS from SVC?

[2021-09-25 19:22] robimarko commented on #20
Yes, I only have 1.2GHz A3720 models and for me, all of the boards I tried are crashing.
Only if I crank the minimal voltage up a lot do they tend to be stable, but it's way too pre-silicon sample-specific.

[2021-09-25 19:24] pali commented on #20
Yes, but we have absolutely no idea what is happening here. And if you look at referenced changed from above commit https://github.com/MarvellEmbeddedProcessors/linux-marvell/commit/dc33b62c90696afb6adc7dbcc4ebbd48bedec269 those hardcoded values were done by Marvell developers...

Probably, but we have no idea how... There is missing documentation about this topic. I have not seen any SVC document

[2021-09-26 07:49] erdoukki commented on #20
Same for me...

[code]

[code]

[code]
[code]

[code]

This one had crash quickly...
Will redo the stress test to post results !

[2021-09-26 10:00] erdoukki commented on #20
another ULTRA
[code]

[code]

[code]

[code]

[code]

[code]
UPDATE :  OK

[2021-09-26 12:13] erdoukki commented on #20
Same for me...

[code]

[code]

[code]

[code]

[2021-09-26 15:21] erdoukki commented on #20
More from third ULTRA board :
[code]

[code]

[code]
from lscpu :
[code]
pretty stable :
[code]
UPDATE : OK

[2021-09-26 15:23] erdoukki commented on #20
More also from my fourth ULTRA board :
[code]
[code]

[code]

from lscpu
[code]

pretty stable :
[code]

UPDATE : OK

[2021-09-26 19:16] pali commented on #20
Due to bugs in a37xx cpu driver, reported cpu frequency (e.g. by lscpu) could be incorrect. So the best check for (maximal) cpu frequency is to use **mhz** userspace tool from https://github.com/wtarreau/mhz which reports correct value, even when kernel reports it incorrectly.

[2021-09-26 21:56] robimarko commented on #20
@pali It's running at 1200MHz as that is set by WTMI and since CPUFreq is blacklisted for the 1200MHz model kernel won't touch it.
[code]

@erdoukki That's the issue that depending on the exact board you test some are stable with the WTMI set voltages while others are not, for me most of them will crash.
And if CPUFreq is enabled then they will crash much faster, usually during the boot itself, so

[2021-09-26 22:31] pali commented on #20
@robimarko thank you for confirmation. Now it is up to the Marvell and @stefanchulski to look at this and try to fix this issue.

[2021-09-29 11:16] robimarko commented on #20
@stefanchulski Any updates?

[2021-09-29 12:36] stefanchulski commented on #20
1. On board that reproduces this issue could you please dump in uboot and Linux register: "md 0xd0011500". Please use Linux with disabled DFS.
2. Issue occurred on ESPRESSObin board?

[2021-09-29 12:56] robimarko commented on #20
Sure, here it is from U-boot.
[code]
Linux:
[code]

So they are the same

Yes, I am encountering it on the Espressobin Ultra boards, those are the only ones I have with 3720.

[2021-09-29 13:10] erdoukki commented on #20
@robimarko @pali how can I disable DFS feature ?

[2021-09-29 13:12] pali commented on #20
DFS (AVS) is on A3720 disabled when armada-37xx-cpufreq driver is not initialized. And for 1.2 GHz mode it is already disabled if you see that _Unsupported CPU frequency_ message.

[2021-09-29 13:16] robimarko commented on #20
It's already disabled in the OpenWrt if you are running it as they have backported the 5.14 patch for it, but like @pali said just check the boot log for the print.

[2021-09-29 13:31] stefanchulski commented on #20
Could you please set in uboot: "mw 0xd0011500 0x5CE8FFFF", check in Linux that this wasn't overwritten and run stress tests.
Thanks.

[2021-09-29 13:43] robimarko commented on #20
Its really unstable:
[code]

Took it like 20-30 seconds to crash

[2021-09-29 13:50] stefanchulski commented on #20
Can you try 0x5CF3FFFF?

[2021-09-29 13:51] pali commented on #20
According to https://github.com/MarvellEmbeddedProcessors/A3700-utils-marvell/blob/master/wtmi/sys_init/avs.c register 0xd0011500 controls AVS voltage. Bits [21:16] encodes high vdd limit and bits [27:22] encodes low vdd limits. Above avs.c sets both high and low to same value.

New value 0x5CE8FFFF sets 0x33 (1.342V) as low limit and 0x28 (1.213V) as high limit. Is this value correct? Looks stran

[2021-09-29 14:12] erdoukki commented on #20
EspressoBin Ultra with 1.2 GHz
[code]
Default value of 0xd0011500 = 5aaaffff

DFS disabled :
[code]

Using OpenWrt 21.02.0
[code]
Crash in less than a 1 minute with : `stress-ng --matrix 0 -t 1m` when setting these values to 0xd0011500 :
- 0x5CE8FFFF
- 0x5a28ffff
- 0x5aaaffff
- 0x5CF3FFFF

UPDATE : add mhz informations
[code]

[2021-09-29 14:19] stefanchulski commented on #20
Can we try one more: 0x5BAEFFFF
To make sure: 1 GHz is stable?

[2021-09-29 14:28] erdoukki commented on #20
[code]
[code]

Stress give no crash !

UPDATE : a longer time test crash also !

[2021-09-29 14:31] erdoukki commented on #20
I have another EspressoBin-Ultra board which looks like more stable at 1.2GHz !
[code]

[code]

[code]

`OpenWrt 21.02.0, r16279-5cc0535800`

[code]

[code]

[code]

[code]

[code]

[code]

UPDATE : stressing with longer timeout...
[code]

UPDATE : adding mhz informations...
[code]

UPDATE : devmem from linux added !

[2021-09-29 14:31] robimarko commented on #20
@erdoukki Leave it running for longer, this is just a 1-minute test.
I will give it a go soon.

As far as 1GHz models go, I don't have any.

[2021-09-29 14:33] erdoukki commented on #20
You were right...

with 10 minutes test, crash at less than 2 !!!

[2021-09-30 18:00] kwilczynski commented on #20
Hello everyone!

If you feel like you aren't getting any help from Marvell here to solve the issue at hand, especially this particular crash, then don't hesitate to let Cary Ussery (at cussery@marvell.com) know directly. He is a senior executive at Marvell who would be more than happy to get some of the visibility into what is going on with Marvell products in the wild.

Good luck!

[2021-10-03 11:57] robimarko commented on #20
@stefanchulski Anything else we can try as I really need this to be resolved, even if I have to update the firmware on all of the deployed boards

[2021-10-04 05:19] erdoukki commented on #20
Same, I have a project which is suspended because of this particular issue !

[2021-10-04 09:53] erdoukki commented on #20
@marvell !
Just made a new attempt at the support : here is the sent message :

I think this will stay silent, again !

UPDATE : sorry for making some noise on this issue, but it is particularly in the subject...of this still unresolved bug !

[2021-10-05 07:42] erdoukki commented on #20
@pali @stefanchulski @robimarko

How can I calculate some values to test for the **register 0xd0011500** ?

I do not read the same min / max values in the _Armada 3720 Hardware specification_ !

Thanks all in advance...

[2021-10-06 15:20] erdoukki commented on #20
It's me or the available documents on Marvell Extranet are full of missing data !

[2021-10-06 15:24] robimarko commented on #20
You can find the AVS bits for voltage in the Functional specifications, but yeah there is a lot of stuff missing in the documentation.

[2021-10-09 06:35] erdoukki commented on #20
What can I test to help on this ?

[2021-10-09 10:37] pali commented on #20
@kostapr: Please, could you really look at this? It is really serious issue which lacks any progress :-(

[2021-10-09 13:20] kostapr commented on #20
@pali, as far as I know this thread was passed to our support team. I am part of the development group and simply do not have enough bandwidth for supporting SOCs that are not in active development stage.

[2021-10-09 15:37] erdoukki commented on #20
@globalscaletechnologies this [post answer](https://web.archive.org/web/20200203142109/http://espressobin.net/forums/topic/crash-after-booting-for-about-a-minute/#post-932) from [Wayne Yang](http://espressobin.net/forums/users/wayne/) has disappeared from the EspressoBin.net Forum subject **Crash after booting for about a minute** !

If I understand, the `mw.l 0xd0011500 0x78e3ffff` will set the A

[2021-10-09 15:50] erdoukki commented on #20
@stefanchulski my apologize about the test made, but do you need this to be tested on 1.GHz A3720 ???
I have only tested it on the Ultra, which is 1.2GHz !

If the test needed was about 1 GHz only, I have to made it again to report correctly !
{0x2e, "1.283V"}
Without DFS also ?

[2021-10-09 15:50] erdoukki commented on #20
@stefanchulski

as @pali said :

How can Marvell help on this ?

[2021-10-09 15:53] erdoukki commented on #20
@pali

@robimarko

If I want to do some tests with my own build of the linux kernel, I just had to disable (not enable) : `CONFIG_ARM_ARMADA_37XX_CPUFREQ` ?

[2021-10-09 15:55] robimarko commented on #20
No point in disabling the driver as 1.2GHz version is blacklisted in it anyway

[2021-10-09 16:10] erdoukki commented on #20
Okay, sure...
But it was for my better understanding.
In case of tests with 1.2GHz un-blacklisted.

[2021-10-09 16:14] erdoukki commented on #20
I am starting a stress test on 1.0 GHz EspressoBin.

`SVC REV: 5, CPU VDD voltage: 1.108V                                             `

[code]

[code]

[code]

[code]

[code]

[code]

Will update after stress test concluded !

UPDATE :
[code]

No crash on 1 GHz !

[2021-10-09 16:39] erdoukki commented on #20
If it can be of any help, I also have in my lab (and still working) a [NetGear Ready NAS 104](https://www.netgear.fr/support/product/rn104.aspx#docs).
[It is powered by a Marvell Armada 370 ARMv7 CPU running at 1.2GHz !](http://www.natisbad.org/NAS2/)
I can look at it if needed and made some tests or analyses.
It never had crashed with the default firmware of NetGear.
It is a Debian based which is

[2021-10-09 18:39] erdoukki commented on #20
Done a full stress test with disabling AVS !
`SVC REV: 5, CPU VDD voltage: 1.225V                                             `

[code]

[code]

[code]

[code]

[code]

[code]

NO CRASH !

Will redo the same test with the same board, only modifying the 0xd0011500 to 0x58e3ffff, to confirm it is crashing...

[2021-10-09 18:44] erdoukki commented on #20
Just a boot and CRASH !

`SVC REV: 5, CPU VDD voltage: 1.225V
`
[code]
[code]

boot...
[code]
... and CRASH !

[2021-10-10 10:00] erdoukki commented on #20
Same tests done on another ULTRA which crash more often !
[code]
This time the Board FROZE in the stress-ng...

So still not a solution...

Will redo more tests with a Power Cycle between each test !
Will use this very "crashy" board for new tests...

[2021-10-10 10:04] erdoukki commented on #20
NOTES :
- TESTS MADE WITH POWERCYCLE AFTER EACH CRASHES

[code]

[code]
`root@OpenWrt:/# stress-ng --matrix 0 -t 10m`

[code]
-> CRASH !

[code]
-> CRASH !

[code]
-> CRASH !

[code]
-> FROZEN !

[code]
-> CRASH !

[2021-10-10 13:31] pali commented on #20
It seems that above commit from log does not exist: https://github.com/MarvellEmbeddedProcessors/mv-ddr-marvell/commit/80be893d2b

Can you check that you have latest mv-ddr-marvell version? Because @heaterC was fixing crashes on espressobins with DDR4 memories, see pull request: https://github.com/MarvellEmbeddedProcessors/mv-ddr-marvell/pull/25

[2021-10-11 07:43] erdoukki commented on #20
Thanks @Pali,

I will check...
It is from one of the Ultra board which have upgraded u-Boot...

It was also compiled with `CLOCKSPRESET:=CPU_1000_DDR_800` and I will refresh it with `CLOCKSPRESET:=CPU_1200_DDR_750` as said here : http://espressobin.net/espressobin-ultra-build-instruction/

It is from the WIP patch for OpenWrt U-Boot for Ultra which I have proposed from Luka Kovakic patchwork which

[2021-10-11 08:13] erdoukki commented on #20
Look like the actual mvebu-uboot from openwrt contains now : https://github.com/MarvellEmbeddedProcessors/mv-ddr-marvell/commit/02e23dbc

I do not understand from where came this "strange" commit !
The compilation was made in august of 2021.

May be a bug already fixed or a pending issue...
I will verify this after compilation complete !

UPDATE : Add GITHUB reference of WIP
https://github.com/erd

[2021-10-11 16:15] erdoukki commented on #20
refresh rebuild done !

[code]

But still strange commit from `mv_ddr-devel-gc87315c6f5 DDR4 16b 1GB 1CS` which refer to nothing ?!

It should link to the commit from the Makefile : https://github.com/openwrt/openwrt/blob/af9d31aacc286786a8765a44c2000d2eba02e61c/package/boot/arm-trusted-firmware-mvebu/Makefile#L138

So, is it a bug in this https://github.com/openwrt/openwrt/blob/master/package/boo

[2021-10-11 16:23] erdoukki commented on #20
Frozing or crashing very fast at OpenWrt boot with default `0xd0011500` value of `0x5aaaffff` :

[code]

While setting the value to `0x7aaaffff` just let the booting completely.
Will stress with this value to check stability...
Will also reflash a default 21.02.0 with 1.2 GHz blacklisted...
Actually I am with a custom master of OpenWrt with the 1.2 GHz un-blacklisted !

[2021-10-11 16:28] pali commented on #20
You have something broken. Compile firmware according to steps in ARM trusted firmware documentation at:
https://trustedfirmware-a.readthedocs.io/en/latest/plat/marvell/armada/build.html
Search for _how to build production release of Marvell firmware image_

[2021-10-11 17:04] erdoukki commented on #20
It is a bug here :

It takes my local git commit id instead of the predefined one in the Makefile !
My local OpenWrt commit is : `c87315c6f513352655eff2e1af3231cd71196199`

I will try to fix it...
Or open an issue at OpenWrt !

https://github.com/openwrt/openwrt/blob/af9d31aacc286786a8765a44c2000d2eba02e61c/package/boot/arm-trusted-firmware-mvebu/patches-mv-ddr-marvell/001-version.patch#L9

May be

[2021-10-11 17:36] erdoukki commented on #20
Is it a bug upstream in mv-ddr-marvell ?
else where ?
[code]

[2021-10-11 17:38] pali commented on #20
No. It is OpenWRT issue.

Use **original upstream version** and not patched which can just cause issues and like in this example just makes whole debugging problematic.

OpenWrt people know about this issue as they have introduced it and they just making fun about it.

[2021-10-11 18:32] erdoukki commented on #20
Okay... sure... will follow the documentation you have given !

Will report after...

And redo the tests ! to be sure...

[2021-10-12 09:11] dhewg commented on #20
That sounds like a bug indeed, and yes, specific to OpenWrt.

That's not the whole story and you know it, but let's not reiterate that drama please.

About the issue at hand:
It indeed is probably better to coordinate with manually building the firmware here. If and when the issue is resolved you can throw whatever needs fixing in an OpenWrt PR.

[2021-10-12 09:19] pali commented on #20
@dhewg: shut up and go away, you OpenWRT guys are breaking everything which can be possible just because you can and to ensure that debugging is totally impossible and if you are asked to explain why you are doing it then you start talking about something totally irrelevant as you have no argument for it. Like in this your last comment.

Seems that knows everything and now should start care about

[2021-10-12 09:24] dhewg commented on #20
Right, how silly of me to even attempt any sort of coordination

[2021-10-12 10:03] robimarko commented on #20
@dhewg @pali Come on guys, no point in doing this here.
Manually building stuff should be the approach here, I suspect that OpenWrt does that passing of the hash due to them
packaging everything that it downloads including git repos into XZ TAR archives.
That is not really good as it breaks down traceability to the upstream but that doesn't help anybody with the voltage/clocking issues that are ge

[2021-10-12 10:47] dhewg commented on #20
Yeah, OpenWrt doesn't work with full fledged git clones for any packages AFAICT. Which is the reason it carries patches to keep said tracability. And that worked in the past, but there's a new spot which now requires a similar fix-up.

It's a bug that needs to be fixed. I don't know why this topic always gets answered in the unreasonable way we're seeing here.

[2021-10-12 11:47] erdoukki commented on #20
Sorry all.
I discovered this issue, that I may already know, but I have forget it.
I also used OpenWrt for the u-boot of EspressoBin-Ultra because I think the works was simple and may be useful for future release.
It helps to find this OpenWrt issue, but get the actual cpufreq tests a little more complicated !

I can come back to cpufreq tests now !
[code]

[2021-10-12 12:03] erdoukki commented on #20
Back again on test of CPU !
but... also... with a new question for you all :
Can I had some **DEBUG** which may help about this issue analysis ?

[2021-10-12 12:21] erdoukki commented on #20
Back again in CRASH !

`Unsupported CPU frequency 1200 MHz`

[code]

[code]

[code]

[2021-10-12 12:28] erdoukki commented on #20
`Unsupported CPU frequency 1200 MHz`

[code]

`stress-ng --matrix 0 -t 10m`

[code]

[2021-10-12 12:33] erdoukki commented on #20
`Unsupported CPU frequency 1200 MHz`

[code]

[code]

[code]

[2021-10-12 12:35] robimarko commented on #20
@erdoukki I dont see a point in further testing.
This is something that Marvell needs to fix or release the docs.

[2021-10-12 12:39] erdoukki commented on #20
Yes, I agree...

[2021-10-12 13:09] erdoukki commented on #20
I read in `Hardware Specifications`

and also this :

Do I understand well if I say that CPU frequency must stay limited to 600 MHz and cannot be more without AVS mode ?
What is DFS behavior in this AVS control mode ?
May be required also ?

Is it possible that VDD are correct but divider are incorrect ?

I have this feeling after a successful test few days ago with one of the two crashing EBIN-Ul

[2021-10-18 07:19] erdoukki commented on #20
Never get able to reproduce !
It was a strange but temporary success...

Need more patience and hope from a Marvell super-hero ?
May be a Marvell Developer will be more realistic, or may be not.

I get some partial feedback from Marvell Support.
It was confirmed of a known issue.
But no more support and EOL SOC.

[2021-10-21 10:08] erdoukki commented on #20
It was said by the Marvell Support Team that the latest SDK10 may already have fixed this issue !

[2021-10-21 10:18] robimarko commented on #20
Well, if only their SDK was public

[2021-10-27 08:48] erdoukki commented on #20
I was able to get access to the latest SDK10.
I will try to get some free time and experiment the linux patches of the SDK10 on GlobalScaleTechnologies Ultra 1.2GHz…
Will report results here when it will be done

[2021-11-08 12:05] robimarko commented on #20
@erdoukki Any news?
I still dont have access to SDK10 at all.

[2021-11-13 18:02] erdoukki commented on #20
@robimarko
Still no news...
I have no free time for now...
I plan to compile the SDK10 kernel to stress test the bugyg ULTRA !

[2021-11-22 17:57] erdoukki commented on #20
I get the latest SDK10 and compile a full image for device : `a37xx_espressobin_1000_800`
It use a linux kernel version `4.14.207`

I will try the system on an espressobin and will also try later on my buggy ultra !

[2021-11-22 17:57] erdoukki commented on #20
close by error ! sorry

[2021-11-22 17:59] erdoukki commented on #20
@pali @robimarko
any advice to help on tests with the official SDK10 is welcome...

[2022-01-09 10:11] erdoukki commented on #20
Héllo all,
Have an nice and happy new year...

I get some new issues around the CPU bug on the 37xx.
One of my EspressoBin-Ultra, which is mostly stable, get some reboot, on heavy CPU and network load.

I may look at it deeper if needed, because it is one of my working ULTRA, which get reboot only one CPU load...
I use it as a 4G-Mobile routeur/gateway.

Add: I have to get in the testing of the of

[2022-01-12 15:51] erdoukki commented on #20
FROM SDK10 (SDK-10.3.9.0) and OpenWrt 21.02.0, r16279-5cc0535800
compile the release version with:
[code]

Booting an ESPRESSObin-ULTRA (one of my mostly unstable... checked before tests and confirmed to still CRASHING few seconds only after boot in OpenWrt with default kernel)

[code]

[code]

Then after few seconds...

[code]

Now entering the SDK10 tests !

Just booting with SDK10 Image (and mo

[2022-01-12 16:06] erdoukki commented on #20
@robimarko

Sorry for the delay...

[2022-01-12 17:35] erdoukki commented on #20
[code]

[code]

[code]

still no issue;
[code]

[2022-01-12 19:55] erdoukki commented on #20
[code]

[code]

[code]

[code]

[2022-01-12 20:10] erdoukki commented on #20
QUICK-CRASH with KERNEL-SDK10 & 0x58e3ffff

[code]
[code]

[code]

[2022-01-12 20:12] erdoukki commented on #20
NOCRASH with KERNEL-SDK10 & 0x78e3ffff

[code]

[code]

[code]

stress... (EDIT: OK no more crash on this one with kernel from SDK10)

[2022-01-13 08:12] erdoukki commented on #20
ANOTHER ESPRESSObin-ULTRA (which crash before the boot process end up !)

SIMPLY WORKS FINE (BOOT: OK - STRESSTEST: WIP / TBD) with the SDK10 kernel !

[code]

Tests with SDK10 kernel:

[code]

[code]

[code]

[code]

[code]
[code]

[2022-01-13 09:17] erdoukki commented on #20
I have reflashed the same ULTRA from snapshot to 21.02.1
I also reflash the default GST UBOOT:
`cellular-cpe-bootloader-cpu-1200-ddr4-1cs-1g-atf-95ac2fcd-uboot-g057aa3fce1-utils-d5b360a-20200616-rel.bin`

[code]

[code]

[code]
[code]

[code]

[code]

STRESS-NG: EDITED with results (CRASH)...

[code]

[2022-01-13 09:24] erdoukki commented on #20
Same ULTRA with only 0x5a69 forced value before boot:
[code]

[code]

[code]

[2022-01-13 09:30] erdoukki commented on #20
flashing my last (old but working) custom UBOOT on the same BUGGY ULTRA:

[code]

[code]

[code]

EDIT: RESULTS:
[code]
CRASH (FREEZE)

[code]
May be from something else than CPU ?

[2022-01-13 16:54] erdoukki commented on #20
[code]

[2022-01-14 10:15] erdoukki commented on #20
[code]

[2022-01-14 11:03] erdoukki commented on #20
May be I am mixing some kernel modules for the stress tools ?

Because, this box which hang/freeze or panic very quickly with mainline linux, is mostly working with the Marvell-SDK10 kernel:

[code]

Who has some proposal for testing and studying this issue deeper ?

Advice welcome !

[2022-01-14 11:20] pali commented on #20
Well, we know from beginning that A3720 crashes when running at 1.2 GHz frequency. And it needs to be fixed. AFAIK there is no patch which is fixing this issue for 1.2 GHz mode neither in Marvell-4.14 kernel nor in mainline kernel. So posting new and new crash log does not bring nothing new, I guess everybody knows it from first few posts and people rather unsubscribe from spamming thread. Has Mar

[2022-01-14 18:28] erdoukki commented on #20
Sure, you're right, and I agreed !

Some (more) technical details of the ULTRA on which I do my tests (the most buggy I have):
[code]
It is the SDK10 Kernel I compile for testing the NDA-SDK10 from Marvell.
[code]
the CPU is working at 1.2 GHz
[code]
CPU Governor are not implemented and the CPU is always at 1.2 GHz
[code]
The BOX do not bug/freeze/crash/oops at all.

Sorry about this, and apologiz

[2022-01-14 18:42] pali commented on #20
I think that no more tests are needed unless people from Marvell explicitly ask what they need (or somebody else who is going to fix it). It is now up to Marvell to provide fix. If you have NDA contract with Marvell, you could report this issue to them and ask them what they need for fixing this issue.

[2022-01-14 18:43] pali commented on #20
@stefanchulski or anybody from Marvell: Could you please provide some reply/feedback what is needed for fixing this issue? And if you need some more tests from @erdoukki with 1.2GHz A3720?

[2022-01-15 09:02] erdoukki commented on #20
I can confirm the SDK10 is mostly stable at 1.2 GHz...
Here is a last test, report;
[code]
As you can see, I stress only the CPU, which stay at 1.2 GHz, for more than 2 hours, with the SDK10 kernel, and no FREEZE, nor BUG, or OOPS !

It is, again, my mostly buggy EspressoBin-ULTRA, which just hang before the end of normal bootup with the OpenWrt 21.02.x default kernel...

[2022-02-16 03:12] yeChina opened #21 "4.14.76,Does it support c9130?, i cant find cn913*.dtb"

[2022-02-16 22:24] pali commented on #20
@kostapr Could you please advice who to ask for help or any feedback here?

[2022-03-05 07:11] erdoukki commented on #20
Marvell published a new release of the SDK10 on 2022.02.

[2022-03-17 12:46] robimarko commented on #20
@erdoukki How did you get to run at 1200MHz?
I literally copied the cpufreq driver from SDK10 and to me it looks like its just reverted to the state before upstream fixes.
It doesn't allow scaling at all, its just running at 750MHz regardless of anything.

[2022-03-17 13:03] erdoukki commented on #20
@robimarko Can you share your actual work (private fork or anyway?)
I can test on my own.

I have not modified the SDK10 kernel sources.
I only made a tweak to compile for 1200MHz.

I flash the kernel and modules obtained with the SDK10 compilation in a OpenWrt snapshot image obtained with OpenWrt ToolChain.
Then my tests and tweaks on the CPU governor shown the results I shared here, as working a

[2022-03-17 13:09] robimarko commented on #20
There is nothing to share really, I just replaced the cpufreq driver in 5.4 kernel with the one from SDK10.
If the CLK drivers are replaced as well then it just crashes with random errors, basically meaning that its scaling but it will crash like upstream drivers.

[2022-03-17 17:39] erdoukki commented on #20
Initially, Marvell confirm that the SDK10 was the only supported, and also that the 1200 MHz freeze was solved in the latest SDK10, (end of 2020).
Said by my reseller/contact as the official Marvell statement !

Why do you tests only parts of SDK10 on top of community kernel ?
I do not get the point...
If the tests you've done also get the CPU at 750MHz only and still freezing, the problems is the

[2022-03-17 20:22] robimarko commented on #20
Why wouldn't I test it on mainline kernels?
I quite literally replaced the CPUFreq and the clock drivers, and guess what?
CPUFreq starts scaling to 1200MHz but it won't even boot fully and crash like in mainline.

It doesn't freeze on 750MHz obviously, I have been forced to run it at 750MHz aka the DDR clock for a while now cause if you disable CPUFreq then it will be left on 1200MHz as WTMI set i

[2022-03-18 07:29] erdoukki commented on #20
I am sure you want to, as I want also...

It is only to verify the veracity of what Marvell officially pretend...

Who say that ?

I just keep my answer to your only latest sentence, no problem at all, anyway, on what you said, or what I may understood.

I may say again, and precise, what I suggest as a proposal of direction to get a possible solution for this overall problem.

#1. Did Marvell wor

[2022-03-18 10:08] robimarko commented on #20
The last part wasn't directed at you at all, I agree with at least most things you said.

[2022-04-15 06:06] erdoukki commented on #20
New SDK10-QA-10.22.03 !

[2022-06-13 09:30] pali commented on #20
[kostapr commented on 9 Oct 2021](https://github.com/MarvellEmbeddedProcessors/linux-marvell/issues/20#issuecomment-939296311)

@kostapr @stefanchulski Could you check what is the current state? Because this issue is still present.

[2022-07-21 13:53] maykolo opened #22 "Failed to compile the driver using the directory drivers/staging/gd5f_spinand/gd5f_spinand.c under linux-4.44.120-armada-18.09.2"
Hello, I am using the linux-4.44.120-armada-18.09.2 version of the kernel, then I use make menuconfig and select SPINAND Device Support For Gidadevice under Staging drivers under Device Drivers. After saving and exiting, then use make (The ARCH and CROSS_COMPILE have been specified) Can you see the error after the error?
The first error when I compile it is `/drivers/staging/gd5f_spinand/gd5f_spin

[2022-08-01 08:33] erdoukki commented on #20
Will, sometime, someone, get some few time, to report and help  ?
Thank @kostapr in advance

[2022-11-01 09:18] Franzo95 opened #23 "UART boot Issue Armada 3700 family with DDR4"
Hello Everyone!
In the company where I am, we are migrating the current Zynq architecture with DDR3 to your Armada 3700 family with DDR4.
Before deciding to migrate, we bought some espressobin and were delighted with your product.
We have therefore attempted to develop two cards that use the armada A3700 processor without success. We concluded that the problem is HW but we don't know exactly where